<!-- views/partials/nav.ejs -->
<nav class="navbar sticky-top navbar-light justify-content-between header" role="navigation">
  <img style="background-color: #0c71b9" src="../img/header.png" alt="Aula Virtual FI-UNLZ">
  <div class="navbar-header" style="color:white">
    <a class="navbar-brand" style="color:white" href="/">
      <span class="glyphicon glyphicon-cog"></span>
      AlumnIA
    </a>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" style="color:white" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" style="color:white" href="/ayuda">Ayuda</a></li>
    <li class="nav-item"><a class="nav-link" style="color:white" href="/contact">Contact Us</a></li>
    <li class="nav-item"><a class="nav-link" style="color:white" href="/about">About</a></li>
  </ul>
</nav>