<!-- views/partials/nav.ejs -->
<nav class="navbar sticky-top navbar-light justify-content-between bg-light" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon glyphicon-cog"></span>
          AlumnIA
      </a>
    </div>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
  </div>
</nav>