<!-- views/partials/nav.ejs -->
<!-- <nav class="navbar sticky-top navbar-light justify-content-between header" role="navigation">
  <a class="logo">
    <img style="background-color: #0c71b9" src="../img/header.png" alt="Aula Virtual FI-UNLZ">
  </a>
<div class="toggle"></div>
<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
  <li class="nav-item"><a class="nav-link" href="#ayuda">Ayuda</a></li>
  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
</ul>
</nav> -->


<nav class="navbar sticky-top navbar-light justify-content-between header" role="navigation">
  <img style="background-color: #0c71b9" src="../img/header.png" alt="Aula Virtual FI-UNLZ">
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#ayuda">Ayuda</a></li>
    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
  </ul>
</nav>


<!-- <ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link" style="color:white" href="/">Home</a></li>
  <li class="nav-item"><a class="nav-link" style="color:white" href="/ayuda">Ayuda</a></li>
  <li class="nav-item"><a class="nav-link" style="color:white" href="/contact">Contact Us</a></li>
  <li class="nav-item"><a class="nav-link" style="color:white" href="/about">About</a></li>
</ul> -->