<div class="content-img row">
    <div class="main-header">
        <h1>Hola, somos</h1>
        <h2>AlumnIA</h2>
        <h3>Bienvenido a la web de AlumnIA</h3>
    </div>
</div>

<button type="button" class="chatLauncher" style="display:none;">
    <div>
      Habla con Nosotros
    </div>
</button>