<section name="content">
    <div class="container">
        <h2 class="text-center">AlumnIA</h2>
        <div class="">
            <p>Poner que tiene que decir en esta parte</p>
            <p>Una especie de reseña, algo simple para que detallemos por encima el chat</p>
        </div>
    </div>
</section>
<button type="button" class="chatLauncher" style="display:none;">
    <div>
      Habla con Nosotros
    </div>
</button>