<div class="col-md-7">
    <div class="card h-100">
        <div class="card-body">
            <div class="presentacion">
                <iframe width="450" height="350" 
                    src="https://prezi.com/embed/sgipfa8pko_f/" 
                    id="iframe_container" 
                    frameborder="0" 
                    webkitallowfullscreen="" 
                    mozallowfullscreen="" 
                    allowfullscreen="" 
                    allow="autoplay; fullscreen"
                >
                </iframe>
            </div>
        </div>
    </div>
</div>