<div class="col-md-7">
    <div class="card h-100">
        <div class="card-body">
            <div class="presentacion">
                <iframe width="450" height="350" 
                    src="https://www.youtube.com/embed/FOxUAMuBtMM"
                    frameborder="0"
                    allow="autoplay; encrypted-media" 
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
    </div>
</div>