<div class="col-md-3">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title"><%= video.name %> </h5>
            <div class="videos">
                <iframe width="560" height="350" 
                    src="<%= video.url %>"
                    frameborder="0"
                    allow="autoplay; encrypted-media" 
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
    </div>
</div>
