<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="./partials/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    
    
    <script type="module" src="./js/index.js">
        
    </script>
</head>
<body class="container">
    
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="container">
            <%- include('./partials/main')-%>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
   
</body>
</html>